.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.c4 {
    color: #f40;
}
.chunk {
    width: 1190px;
    margin: 0 auto;
}